
body, p {
    /*background-color: #ececec;*/
	margin: 0;
    padding: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], input {
    resize: none;
    border: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}

.navbar-default {
    background-color: #303953;
    border-color: #303953;
    text-align: center;
}
.navbar-header{
	display: inline-block;
	float: none;
}
.navbar-brand > img {
    margin-top: 56px;
    margin-bottom: 55px;
}
@media (max-width: 1400px) {
  .navbar-brand > img {
    margin-top: 30px;
    margin-bottom: 30px;
}
}
@media (max-width: 1025px) {
  .navbar-brand > img {
    margin-top: 20px;
    margin-bottom: 20px;
}
}
@media (max-width: 768px) {
  .navbar-brand > img {
    margin-top: 10px;
    margin-bottom: 10px;
}
}
.navbar-inverse {
    background-color: #303953;
    border-color: #303953;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #494848;
    background-color: #fff;
    font-size:18px;
}

.menu-custom{
	font-size:16px;
	font-weight:bold;
	margin-left:300px;
}
.menu-custom a{
	padding-left:50px !important;
	padding-right:50px !important;
	padding-top:0px !important;
}
@media screen and (max-width: 1300px) {
.menu-custom a{
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:0px !important;
}
} 
@media screen and (max-width: 1025px) {
.menu-custom a{
	padding-left:5px !important;
	padding-right:5px !important;
	padding-top:0px !important;
}
} 
.navbar {
    border: 0;
}
.footer{
	width: 100%;
	text-align: center;
}
.compare-title{
	color:#494848;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
@media screen and (max-width: 1300px) {
.compare-title{
	font-size:20px;
}
}
.panel-custom{
	margin-bottom:10px;
}


 /* main help  */
.help{
	margin: 10px auto;
}

.help ol{
	line-height: 80px;
	padding: 0px 100px;
	background-color: #fff;
}
 
  /* /main help  */

/*search*/
.search{
	height: 100%;
	background-color: #485268;
	text-align: center;
}
.search .content_center{
	width: 100%;
}


.search .title p{
	font-size: 36px;
	color: #fafdfd;
	padding-top: 50px;
	padding-bottom: 40px;
}
.search .content{
	display: flex;
	flex-direction:row-reverse;
	width: 60%;
	color: #fff;
	text-align: left;
	margin: 0 auto;
	font-size: 15px;
}


.searchAll .row_seacrch{
	padding-bottom: 30px;
	padding-top: 40px;
	text-align: center;
}

.searchAll .row .img_icon::before{
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../image/main/search.png') ;
	background-size: 100% auto;
	position: absolute;
	top:10px;
	left: 20px;
	z-index: 12;
}

.searchAll .row{
	margin: 0 auto;
}

.searchAll .row .searchSubmit{
	height: 51px;
	border-radius: 8px;
	margin: 0 auto;
}

.searchAll .row .input-group input{
	text-indent: 40px;
	font-size:16px;
	color: #cecece;
	height: 51px;
	border-radius: 8px;
}

.searchAll .input-group .btn {
	font-size: 18px;
	background-color: #f98748;
	border-radius: 8px;
	color: #fff;
	width: 98px;
	height: 51px;
}

.breadcrumb>li:nth-child(1)+li:before{
    content: "";
}


/*/search*/



/*user guide*/

.guide{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
}
.guide .userGuide{
	padding-top: 41px;
	font-size: 30px;
	color: #4f4f4f;
}

.guide .userGuide .thumbnail{
	display: block;
}

.guide .row{
	text-align: center;
}

.guide .guide_icon{
	margin: 0 auto;
}

.guide .row .thumbnail{
	width: 146px;
	height: 146px;
	margin: 10px auto;
	border: none;
}

.guide .row .thumbnail img{
	width: 146px;
	height: 146px;
}

.guide .guide_icon .name{
	font-size: 18px;
	color: #8c8c8c;
	display: inline-block;
	margin-bottom: 100px;
}

.guide .row a:hover img{
	box-shadow: 10px 10px 5px #888888;
	transform: translate(-10px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
	-ms-transition:all .2s ease-in 0s;
}

/*/user guide*/


.question{
	width: 100%;
	height: 497px;
	text-align: center;
	background-color: #f5f4f4;
}
.question .common_question{
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 30px;
	color: #4f4f4f;
}

.question .content{
	width: 900px;
	margin: 0 auto;
}

.question .conter_content{
	margin: 0 auto;
}

.question .content div{
	width: 450px;
	height: 130px;
	text-align: left;
	float: left;
	padding-top: 20px;
}
.question .content div a{
	font-size: 18px;
	color: #3b3b3b;
}
.question .content div a p{
	padding-top: 20px;
	font-size: 16px;
	color: #9c9c9c;
}

.question .content .left_top{
	border-bottom: 1px solid #e0e0e0;
	border-right:  1px solid #e0e0e0;
	
}
.question .content .right_top{
	border-bottom: 1px solid #e0e0e0;
	padding-left: 40px;
}
.question .content .left_bottom{
	border-right:  1px solid #e0e0e0;
}
.question .content .right_bottom{
	padding-left: 40px;
}

.question .more{
	width: 110px;
	height: 40px;
	background-color: #f98748;
	margin: 40px auto;
	border-radius: 10px;
}

.question .more a{
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
}

.question .content .left_top:hover {
	box-shadow: 10px 10px 5px #888888;
	transform: translate(-10px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
}
.question .content .left_bottom:hover {
	box-shadow: 10px -10px 5px #888888;
	transform: translate(-10px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
}
.question .content .right_top:hover {
	box-shadow: -10px 10px 5px #888888;
	transform: translate(10px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
}
.question .content .right_bottom:hover {
	box-shadow: -10px -10px 5px #888888;
	transform: translate(10px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
}

.question .more:hover {
	box-shadow: -3px 5px #d6b3a0;
	transform: translate(3px, 3px);
	transition:all .2s ease-in 0s;
	-webkit-transition:all .2s ease-in 0s;
	-moz-transition:all .2s ease-in 0s;
}

/*newbies assisted*/

.newbies{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
}
.newbies .newbies_assisted{
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 30px;
	color: #4f4f4f;
}
.newbies .new_center{
	margin-top: 30px;
}

.newbies .new_center .bottom{
	margin-top: 140px;
}

.newbies .new_center .bottom div{
	border-radius: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-40%);
}


@media (max-width: 768px) {
		.newbies .new_center img{
		width: 100%;
	}
	.newbies .new_center .jt img{
		width: 80%;
	}
	.newbies .new_center .arrows img{
		width: 200%;
	}

}

.newbies .new_center p {
	padding-top: 20px;
	font-size: 16px;
	color: #9b9b9b;
}

.newbies .new_center .top .jt{
	margin: 20px 0;
}

.newbies .new_center .arrows{
	margin-top: 40px;
}

.newbies .new_center .arrows .arrows_left img{
	transform:rotate(-60deg); 
}

.newbies .new_center .arrows .arrows_right img{
	transform:rotate(60deg); 
}

.active:hover img{
	transform: scale(1.2);
}

/*/newbies assisted*/



/*handbook*/
.handbook{
	width: 100%;
	height: 400px;
	text-align: center;
	background-color: #f5f4f4;
}
.handbook .hand_book{
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 30px;
	color: #4f4f4f;
}

/*/handbook*/

