
body, p {
    /*background-color: #ececec;*/
	margin: 0;
    padding: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], input {
    resize: none;
    border: none;
}

ul,li{
    list-style-type: none;
}
ul, ol {
    padding-left: 0px;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}

.navbar-default {
    background-color: #303953;
    border-color: #303953;
    text-align: center;
}
.navbar-header{
	display: inline-block;
	float: none;
}
.navbar-brand > img {
    margin-top: 56px;
    margin-bottom: 55px;
}
@media (max-width: 1400px) {
  .navbar-brand > img {
    margin-top: 30px;
    margin-bottom: 30px;
}
}
@media (max-width: 1025px) {
  .navbar-brand > img {
    margin-top: 20px;
    margin-bottom: 20px;
}
}
@media (max-width: 768px) {
  .navbar-brand > img {
    margin-top: 10px;
    margin-bottom: 10px;
}
}
.navbar-inverse {
    background-color: #303953;
    border-color: #303953;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #494848;
    background-color: #fff;
    font-size:18px;
}

.menu-custom{
	font-size:16px;
	font-weight:bold;
	margin-left:300px;
}
.menu-custom a{
	padding-left:50px !important;
	padding-right:50px !important;
	padding-top:0px !important;
}
@media screen and (max-width: 1300px) {
.menu-custom a{
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:0px !important;
}
} 
@media screen and (max-width: 1025px) {
.menu-custom a{
	padding-left:5px !important;
	padding-right:5px !important;
	padding-top:0px !important;
}
} 
.navbar {
    border: 0;
}
.footer{
	width: 100%;
	text-align: center;
}
.compare-title{
	color:#494848;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
@media screen and (max-width: 1300px) {
.compare-title{
	font-size:20px;
}
}
.panel-custom{
	margin-bottom:10px;
}


 /* main help  */
.help{
	margin: 10px auto;
}

.help ol{
	line-height: 80px;
	padding: 0px 100px;
	background-color: #fff;
}
 
  /* /main help  */

/*search*/
.search{
	height: 100%;
	background-color: #485268;
	text-align: center;
}
.search .content_center{
	width: 100%;
}


.search .title p{
	font-size: 36px;
	color: #fafdfd;
	padding-top: 50px;
	padding-bottom: 40px;
}
.search .content{
	display: flex;
	flex-direction:row-reverse;
	width: 60%;
	color: #fff;
	text-align: left;
	margin: 0 auto;
	font-size: 15px;
}


.searchAll .row_seacrch{
	padding-bottom: 30px;
	padding-top: 40px;
	text-align: center;
}

.searchAll .row .img_icon::before{
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../image/main/search.png') ;
	background-size: 100% auto;
	position: absolute;
	top:10px;
	left: 20px;
	z-index: 12;
}

.searchAll .row{
	margin: 0 auto;
}

.searchAll .row .searchSubmit{
	height: 51px;
	border-radius: 8px;
	margin: 0 auto;
}

.searchAll .row .input-group input{
	text-indent: 40px;
	font-size:16px;
	color: #cecece;
	height: 51px;
	border-radius: 8px;
}

.searchAll .input-group .btn {
	font-size: 18px;
	background-color: #f98748;
	border-radius: 8px;
	color: #fff;
	width: 98px;
	height: 51px;
}

.breadcrumb>li:nth-child(1)+li:before{
    content: "";
}


/*/search*/



/* indicator */

.indicator .content{
	padding: 50px 50px 50px 150px;
}

.indicator .content .result h3{
	display: inline-block;
	font-size: 24px;
	border-bottom: 5px solid #f19249;
}

.indicator .content .result h3 span{
	color: #f68647;
}

.indicator .content .meaning ul{
    padding: 30px 0;
    position: relative;    
}

.indicator .content .meaning h5{
    font-size: 18px;
    color: #9c2524;
}

.indicator .content .meaning li{
    font-size: 16px;
    color: #545454
}

.indicator .content .meaning ul::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 40px;
    left: -35px;
    border-top: 12px solid transparent;
    border-left: 24px solid #9c2524;
    border-bottom: 12px solid transparent;
}

/* /indicator */


